/*
    form.scss
*/

.form {
    &__title {
        text-align: center;
        margin-bottom: 2rem; 
        font-size: 1.5rem;
        color: #34495e; 
    }

    &__label {
        display: block; 
        margin-bottom: 0.5rem; 
        margin-top: 1rem;
        font-size: 1rem;
        color: #333; 
    }

    &__input {
        width: 100%; 
        padding: 0.75rem; 
        border: 1px solid #ccc; 
        border-radius: 4px;
        box-sizing: border-box;
        
        &--secondary {
            width: 30%;
            display: block;
        }
    }
    

    &__submit {
        width: 100%; 
        padding: 0.5rem 1rem; 
        border: none; 
        border-radius: 4px;
        background-color: #007bff; 
        color: white; 
        font-size: 14px; 
        margin-top: 2rem;
        cursor: pointer; 
        transition: background-color 0.3s;
        &--secondary {
            width: 200px
        }

        &:hover {
            background-color: #0056b3; 
        }
    }

    &__error {
        color: red;
        padding: 0.2rem 0;
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }
}