/*
    header.scss
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    &--left {

    }

    &--right {
        display: flex;
        justify-content: space-between;
    }

    &__icon {

        transform: scale(1.6);
        &--flag {
            border: 1px solid #f4f4f4;
            border-radius: 50%;
        }
    }
    

    &__link {
        color: #34495e;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }
}