/*
    header.scss
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
   
    &--right {
        width: 100px;
    }

    &__icon {

        transform: scale(1.6);

        height: auto;
        &--flag {
            width: 1.3em;
            height: 1.3em;
            &:hover {
                cursor: pointer;
            }
        }
    }
    

    &__link {
        color: #34495e;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }
}