/*
    lists.scss
*/

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    &--horizontal {
        display: flex;
        justify-content: space-between;
    }
    &--item {
        &:hover {
            cursor: pointer;
        }
        &--secondary {
            display: flex;
            gap: 2rem;
        }
    }
    
}